body{
    min-height: 300px;
}

.jumbotron{
    padding-top: 6rem;
    background-color: #c6a3d2;
}

#experience carousel item{
    width: 20%;
    height: 20%;
}
section{
    padding-top: 4rem;
}
#experience h2{
    margin-bottom: 3rem;
}